body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/media/demon-slayer-3840x2160-9326.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
